* {
    margin: 0;
    padding: 0;
}
.top-bar {
    position: relative;
    height: 50px;
    display: flex;
    background-color: rgba(0, 0, 0, 1);
    align-items: center;
    padding: 0 40px;
}
.top-bar h1 {
    width: 34px;
    height: 34px;
}
.top-bar .space {
    flex: auto;
}
.top-bar .user-info {
    margin-right: 40px;
    color: white;
}
.top-bar .menu {
    color: white;
}

.user-info .login-register {
    /* 相对top-bar定位 width:100% */
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: #000;
    top: 50px;
    left: 0;
    display: none;
    /* 居中是为了中间那条竖线 */
    justify-content: center;
    align-items: center;
}
.user-info:active .login-register {
    display: flex;
}

.user-info .login-register::before {
    /* 使用伪元素这个必须要加 */
    content: "";
    position: absolute;
    width: 90%;
    height: 1px;
    background-color: #333;
    top: 0;
}

.user-info .login-register a {
    text-decoration: none;
    flex: auto;
    text-align: center;
    color: #fff;
}
.menu li {
    list-style: none;
}
.menu .menu-inner {
    /* 相对top-bar定位 width:100% */
    position: absolute;
    width: 100%;
    background-color: #000;
    top: 50px;
    left: 0;
    display: none;
}
.menu:active .menu-inner {
    display: block;
}

.menu .menu-inner a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    padding: 29px 0;
    margin: 0 40px;
}

.menu .menu-inner::before {
    /* 使用伪元素这个必须要加 */
    content: "";
    position: absolute;
    width: 90%;
    height: 1px;
    background-color: #333;
    left: 0;
    right: 0;
    margin: 0 auto;
}

@media (min-width: 875px) {
    /* 我们设置响应式布局的时候前面设置的样式
        不能简单的设置 要给一个新的值
    */
    .top-bar{
        justify-content: space-around;
    }
    .user-info i {
        display: none;
    }
    .menu i {
        display: none;
    }

    /* 要清除menu的定位这些没用的还有空白的div */
    .top-bar .space {
        display: none;
    }

    /* 调整弹性盒子位置 */
    .top-bar .user-info{
        order: 3;
    }
    .top-bar .user-info .login-register{
        display: flex;
        position: static;
        width: auto;
        height: auto;
        justify-content: center;
        align-items: center;
        font-weight: bold; 
    }
    .top-bar .user-info .login-register a:hover{
        color: orangered;
    }

    .user-info .login-register::before{
        display: none;
    }

    .top-bar .menu{
        /* 调整弹性盒子位置 */
        order: 2;
    }
    .top-bar .menu .menu-inner {
        display: flex;
        position: static;
        width: auto;
        background-color: #000;
    }
    .top-bar .menu .menu-inner a{
        /* 使用伪元素这个必须要加 */
        display: block;
        font-size:14px;
        font-weight: bold;
        color: #fff;
        text-decoration: none;
        padding: 0;
        margin: 0;
    }
    .top-bar .menu .menu-inner a:hover{
        color: orangered;
    }
    .menu .menu-inner::before{
        display: none;
    }

    /* 统一设置边距 */
    .top-bar .menu .menu-inner a,
    .top-bar .user-info a{
        margin: 0px 10px;
    }
}
